### warmups

In [35]:
print("Good afternoon, ya'll!")

Good afternoon, ya'll!

In [36]:
2 + 2

4

In [37]:
today = "Today is a great day to learn"
print(today)

Today is a great day to learn

In [38]:
print("Use the print command")
print("To print")
print("Prints each and every line")

Use the print command
To print
Prints each and every line

In [39]:
"Notebook cells automatically print the last line of code"

'Notebook cells automatically print the last line of code'

In [40]:
5

5

In [41]:
5 * 2

10

In [42]:
"Multiple lines"
"Do not print automatically"
"Only the last line"

'Only the last line'

In [43]:
"I'm writing Python with ya'll right now"

"I'm writing Python with ya'll right now"

In [44]:
print("That means")
print("The print command is important")
print("When we want to print each line")

That means
The print command is important
When we want to print each line

In [45]:
# Exercise: Print your name in this cell. 
# Be sure to use quotation marks around the letters.

"Steve"

'Steve'

In [46]:
# Exercise: Print your favorite number in this cell

23

23

In [47]:
# Exercise: Print the number 7 in this cell

7

7

In [48]:
# Exercise: Print out 3 + 4 in this cell
# Make Python do the math rather than adding 3 + 4 in your head

3 + 4

7

In [49]:
# Exercise: Print out 3 * 5 in this cell, * means multiply

3 * 5

15

In [50]:
# Let's get to work

# 101 Python exercises

In [51]:
# Exercise 1
# On the line below, create a variable named on_mars_right_now and assign it the boolean value of False

on_mars_right_now = False

In [52]:
# Exercise 2
# Create a variable named fruits and assign it a list of fruits containing the following fruit names as strings: 
# mango, banana, guava, kiwi, and strawberry.

fruits = ["mango", "banana", "guava", "kiwi", "strawberry"]

In [53]:
fruits

['mango', 'banana', 'guava', 'kiwi', 'strawberry']

In [54]:
# Exercise 3
# Create a variable named vegetables and assign it a list of fruits containing the following vegetable names as strings: 
# eggplant, broccoli, carrot, cauliflower, and zucchini

vegetables = ["eggplant", "broccoli", "carrot", "cauliflower", "zucchini"]

In [55]:
vegetables

['eggplant', 'broccoli', 'carrot', 'cauliflower', 'zucchini']

In [56]:
# Exercise 4
# Create a variable named numbers and assign it a list of numbers, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [58]:
# Exercise 5
# Given the following assigment of the list of fruits, add "tomato" to the end of the list. 
fruits = ["mango", "banana", "guava", "kiwi", "strawberry"]

fruits.append("tomato")

In [59]:
fruits

['mango', 'banana', 'guava', 'kiwi', 'strawberry', 'tomato']

In [60]:
# Exercise 6
# Given the following assignment of the vegetables list, add "tomato" to the end of the list.
vegetables = ["eggplant", "broccoli", "carrot", "cauliflower", "zucchini"]

vegetables.append("tomato")

In [61]:
vegetables

['eggplant', 'broccoli', 'carrot', 'cauliflower', 'zucchini', 'tomato']

In [62]:
# Exercise 7
# Given the list of numbers defined below, reverse the list of numbers that you created above. 
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

numbers.reverse()
numbers

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [63]:
# Exercise 8
# Sort the vegetables in alphabetical order

vegetables.sort()
vegetables

['broccoli', 'carrot', 'cauliflower', 'eggplant', 'tomato', 'zucchini']

In [64]:
# Exercise 9
# Write the code necessary to sort the fruits in reverse alphabetical order

fruits.sort(reverse = True)
fruits

['tomato', 'strawberry', 'mango', 'kiwi', 'guava', 'banana']

In [65]:
# Exercise 10
# Write the code necessary to produce a single list that holds all fruits then all vegetables in the order as they were sorted above.

fruits_and_veggies = fruits + vegetables
fruits_and_veggies

['tomato',
 'strawberry',
 'mango',
 'kiwi',
 'guava',
 'banana',
 'broccoli',
 'carrot',
 'cauliflower',
 'eggplant',
 'tomato',
 'zucchini']

In [66]:
# Exercise 11
# Write a function definition for a function named add_one that takes in a number and returns that number plus one.

def add_one(number):
    return number + 1

In [67]:
add_one(22)

23

In [68]:
# Exercise 12
# Write a function definition named is_positive that takes in a number and returns True or False if that number is positive.

def is_positive(number):
    return number > 0

In [69]:
is_positive(-23)

False

In [70]:
is_positive(23)

True

In [71]:
# Exercise 13
# Write a function definition named is_negative that takes in a number and returns True or False if that number is negative.

def is_negative(number):
    return number < 0

In [72]:
is_negative(-45)

True

In [73]:
# Exercise 14
# Write a function definition named is_odd that takes in a number and returns True or False if that number is odd.

def is_odd(number):
    return number % 2 == 1

In [74]:
is_odd(222)

False

In [75]:
is_odd(3443)

True

In [76]:
# Exercise 15
# Write a function definition named is_even that takes in a number and returns True or False if that number is even.

def is_even(number):
    return number % 2 == 0

In [77]:
is_even(23)

False

In [78]:
is_even(-444)

True

In [79]:
# Exercise 16
# Write a function definition named identity that takes in any argument and returns that argument's value. Don't overthink this one!

def identity(arg):
    return arg

In [80]:
identity(fruits)

['tomato', 'strawberry', 'mango', 'kiwi', 'guava', 'banana']

In [81]:
# Exercise 17
# Write a function definition named is_positive_odd that takes in a number and returns True or False if the value is both greater than zero and odd

def is_positive_odd(number):
    return number > 0 and number % 2 == 1

In [82]:
is_positive_odd(-23)

False

In [83]:
is_positive_odd(1002)

False

In [84]:
is_positive_odd(1003)

True

In [85]:
# Exercise 18
# Write a function definition named is_positive_even that takes in a number and returns True or False if the value is both greater than zero and even

def is_positive_even(number):
    return number > 0 and number % 2 == 0

In [86]:
is_positive_even(-2)

False

In [87]:
is_positive_even(44)

True

In [88]:
# Exercise 19
# Write a function definition named is_negative_odd that takes in a number and returns True or False if the value is both less than zero and odd.

def is_negative_odd(number):
    return number < 0 and number % 2 == 1

In [89]:
is_negative_odd(0)

False

In [90]:
is_negative_odd(333)

False

In [91]:
is_negative_odd(-333)

True

In [92]:
# Exercise 20
# Write a function definition named is_negative_even that takes in a number and returns True or False if the value is both less than zero and even.

def is_negative_even(number):
    return number < 0 and number % 2 == 0

In [93]:
is_negative_even(24)

False

In [94]:
is_negative_even(-1004)

True

In [95]:
# Exercise 21
# Write a function definition named half that takes in a number and returns half the provided number.

def half(number):
    return number / 2

In [96]:
half(1002)

501.0

In [97]:
half(33)

16.5

In [98]:
# Exercise 22
# Write a function definition named double that takes in a number and returns double the provided number.
 
def double(number):
    return number * 2

In [99]:
double(-12)

-24

In [100]:
double(10)

20

In [101]:
# Exercise 23
# Write a function definition named triple that takes in a number and returns triple the provided number.

def triple(number):
    return number * 3

In [102]:
triple(3)

9

In [103]:
triple(0)

0

In [104]:
# Exercise 24
# Write a function definition named reverse_sign that takes in a number and returns the provided number but with the sign reversed.

def reverse_sign(number):
    return number * -1

In [105]:
reverse_sign(-12)

12

In [106]:
reverse_sign(43)

-43

In [107]:
# Exercise 25
# Write a function definition named absolute_value that takes in a number and returns the absolute value of the provided number

def absolute_value(number):
    return abs(number)

In [108]:
absolute_value(-234)

234

In [109]:
# Exercise 26
# Write a function definition named is_multiple_of_three that takes in a number and returns True or False if the number is evenly divisible by 3.

def is_multiple_of_three(number):
    return number % 3 == 0

In [110]:
is_multiple_of_three(9)

True

In [111]:
is_multiple_of_three(23)

False

In [112]:
# Exercise 27
# Write a function definition named is_multiple_of_five that takes in a number and returns True or False if the number is evenly divisible by 5.

def is_multiple_of_five(number):
    return number % 5 == 0

In [113]:
is_multiple_of_five(15)

True

In [114]:
is_multiple_of_five(9)

False

In [115]:
# Exercise 28
# Write a function definition named is_multiple_of_both_three_and_five that takes in a number and returns True or False if the number is evenly divisible by both 3 and 5.

def is_multiple_of_both_three_and_five(number):
    return number % 3 == 0 and number % 5 == 0

In [116]:
is_multiple_of_both_three_and_five(9)

False

In [117]:
is_multiple_of_both_three_and_five(30)

True

In [118]:
# Exercise 29
# Write a function definition named square that takes in a number and returns the number times itself.

def square(number):
    return number ** 2

In [119]:
square(4)

16

In [120]:
square(453)

205209

In [121]:
square(0)

0

In [122]:
# Exercise 30
# Write a function definition named add that takes in two numbers and returns the sum.

def add(num1, num2):
    return num1 + num2

In [123]:
add(3, 2)

5

In [124]:
add(10, -2)

8

In [125]:
# Exercise 31
# Write a function definition named cube that takes in a number and returns the number times itself, times itself.

def cube(number):
    return number ** 3

In [126]:
cube(4)

64

In [127]:
cube(-2)

-8

In [128]:
# Exercise 32
# Write a function definition named square_root that takes in a number and returns the square root of the provided number

import math

def square_root(number):
    return math.sqrt(number)

In [129]:
square_root(81)

9.0

In [130]:
square_root(9)

3.0

In [131]:
# Exercise 33
# Write a function definition named subtract that takes in two numbers and returns the first minus the second argument.

def subtract(num1, num2):
    return num1 - num2

In [132]:
subtract(27, 4)

23

In [133]:
subtract(27, -3)

30

In [134]:
# Exercise 34
# Write a function definition named multiply that takes in two numbers and returns the first times the second argument.

def multiply(num1, num2):
    return num1 * num2

In [135]:
multiply(2, 20)

40

In [136]:
multiply(1123, 0)

0

In [137]:
# Exercise 35
# Write a function definition named divide that takes in two numbers and returns the first argument divided by the second argument.

def divide(num1, num2):
    return num1 / num2

In [138]:
divide(45, 5)

9.0

In [139]:
divide(5, 2)

2.5

In [140]:
# Exercise 36
# Write a function definition named quotient that takes in two numbers and returns only the quotient from dividing the first argument by the second argument.

def quotient(num1, num2):
    return num1 // num2

In [141]:
quotient(5, 2)

2

In [142]:
quotient(10, 3)

3

In [143]:
# Exercise 37
# Write a function definition named remainder that takes in two numbers and returns the remainder of first argument divided by the second argument.

def remainder(num1, num2):
    return num1 % num2

In [144]:
remainder(7, 5)

2

In [145]:
remainder(3, 1)

0

In [146]:
# Exercise 38
# Write a function definition named sum_of_squares that takes in two numbers, squares each number, then returns the sum of both squares.

def sum_of_squares(num1, num2):
    return (num1 ** 2) + (num2 ** 2)

In [147]:
sum_of_squares(5, 2)

29

In [148]:
sum_of_squares(-8, 2)

68

In [149]:
# Exercise 39
# Write a function definition named times_two_plus_three that takes in a number, multiplies it by two, adds 3 and returns the result.

def times_two_plus_three(number):
    return (number * 2) + 3

In [150]:
times_two_plus_three(5)

13

In [151]:
times_two_plus_three(20)

43

In [152]:
# Exercise 40
# Write a function definition named area_of_rectangle that takes in two numbers and returns the product.

def area_of_rectangle(num1, num2):
    return num1 * num2

In [153]:
area_of_rectangle(5.3, 10.3)

54.59

In [154]:
import math
# Exercise 41
# Write a function definition named area_of_circle that takes in a number representing a circle's radius and returns the area of the circl

def area_of_circle(number):
    return math.pi * (number ** 2)

In [155]:
area_of_circle(3)

28.274333882308138

In [156]:
area_of_circle(7)

153.93804002589985

In [157]:
import math
# Exercise 42
# Write a function definition named circumference that takes in a number representing a circle's radius and returns the circumference.

def circumference(number):
    return math.pi * (number * 2)

In [158]:
circumference(7)

43.982297150257104

In [159]:
# Exercise 43
# Write a function definition named is_vowel that takes in value and returns True if the value is a, e, i, o, u in upper or lower case.

def is_vowel(char):
    return char.lower() in 'aeiou'

In [160]:
is_vowel("Q")

False

In [161]:
is_vowel("banana")

False

In [162]:
is_vowel("O")

True

In [163]:
# Exercise 44
# Write a function definition named has_vowels that takes in value and returns True if the string contains any vowels.

def has_vowels(string):
    return any(vowel in string.lower() for vowel in "aeiou")

In [164]:
has_vowels("unbuntu")

True

In [165]:
has_vowels("TRQ")

False

In [166]:
# Count the elements in a string using a list comprehension.

len([letter for letter in 'banana'])

6

In [167]:
# Loop and conditional to print the elements in a string if they are also in another string.

string = 'ubuntu'

for letter in string:
    if letter in 'aeiou':
        print(letter)

u
u
u

In [168]:
# Count the elements in a string if they are in another string using a list comprehension.

string = 'ubuntu'
vowels = 'aeiou'

#    what you want,    outer loop,      inner loop/conditional
len([letter for letter in string.lower() if letter in vowels])

3

In [169]:
# Exercise 45
# Write a function definition named count_vowels that takes in value and returns the count of the nubmer of vowels in a sequence.

def count_vowels(str):
    count = 0
    vowel = "aeiou"
    for let in str.lower():
        if let in vowel:
            count += 1
    return count

In [170]:
count_vowels("mango")

2

In [171]:
count_vowels("Trws")

0

In [172]:
## Remove vowels from a string using a list comp and .join() method

string = 'ubuntu'
vowels = 'aeiou'

"".join([letter for letter in string.lower() if letter not in vowels])

'bnt'

In [173]:
# Remove vowels using regular expressions or Regex

import re

re.sub("a|e|i|o|u", "", string)

'bnt'

In [174]:
# Exercise 46
# Write a function definition named remove_vowels that takes in string and returns the string without any vowels

def remove_vowels(string):
    vowels = 'aeiouAEIOU'
    return "".join([letter for letter in string if letter not in vowels])

In [175]:
remove_vowels("mango")

'mng'

In [176]:
remove_vowels("QrTuuov")

'QrTv'

In [177]:
# Exercise 47
# Write a function definition named starts_with_vowel that takes in string and True if the string starts with a vowel

def starts_with_vowel(string):
    vowels = 'aeiouAEIOU'
    return string[0] in vowels

In [178]:
starts_with_vowel('ubuntu')

True

In [179]:
starts_with_vowel('banana')

False

In [180]:
# Exercise 48
# Write a function definition named ends_with_vowel that takes in string and True if the string ends with a vowel

def ends_with_vowel(string):
    vowels = 'aeiouAEIOU'
    return string[-1] in vowels

In [181]:
ends_with_vowel("mango")

True

In [182]:
ends_with_vowel("trail")

False

In [183]:
# Exercise 49
# Write a function definition named starts_and_ends_with_vowel that takes in string and returns True if the string starts and ends with a vowel

def starts_and_ends_with_vowel(string):
    vowels = "aeiouAEIOU"
    return string[0] in vowels and string[-1] in vowels

In [184]:
starts_and_ends_with_vowel("obama")

True

In [185]:
starts_and_ends_with_vowel("mango")

False

In [186]:
# Exercise 50
# Write a function definition named first that takes in sequence and returns the first value of that sequence.

def first(my_list):
    return my_list[0]

In [187]:
first([1, 2, 3])

1

In [188]:
# Exercise 51
# Write a function definition named second that takes in sequence and returns the second value of that sequence.

def second(my_list):
    return my_list[1]

In [189]:
second("mango")

'a'

In [190]:
# Exercise 52
# Write a function definition named third that takes in sequence and returns the third value of that sequence.

def third(my_list):
    return my_list[2]

In [191]:
# Exercise 53
# Write a function definition named forth that takes in sequence and returns the forth value of that sequence.

def forth(my_list):
    return my_list[3]

In [192]:
# Exercise 54
# Write a function definition named last that takes in sequence and returns the last value of that sequence.

def last(my_list):
    return my_list[-1]

In [193]:
last(["I", "am", "hungry"])

'hungry'

In [194]:
# Exercise 55
# Write a function definition named second_to_last that takes in sequence and returns the second to last value of that sequence.

def second_to_last(my_list):
    return my_list[-2]

In [195]:
second_to_last(["I", "am", "hungry"])

'am'

In [196]:
# Exercise 56
# Write a function definition named third_to_last that takes in sequence and returns the third to last value of that sequence.

def third_to_last(my_list):
    return my_list[-3]

In [197]:
third_to_last("ubuntu")

'n'

In [198]:
# Exercise 57
# Write a function definition named first_and_second that takes in sequence and returns the first and second value of that sequence as a list

def first_and_second(my_list):
    return my_list[: 2]

In [199]:
first_and_second([1, 2, 3, 4])

[1, 2]

In [200]:
# Exercise 58
# Write a function definition named first_and_last that takes in sequence and returns the first and last value of that sequence as a list

def first_and_last(my_list):
    return [my_list[0], my_list[-1]]

In [201]:
first_and_last(["python", "is", "awesome"])

['python', 'awesome']

In [202]:
def first_and_last(my_list):
    return my_list[0] and my_list[-1]

In [203]:
my_list = [1,2,3,4]
string_list = ['python', 'is', 'awesome']
first_and_last(my_list)

4

In [204]:
[my_list[0], my_list[-1]]

[1, 4]

In [205]:
[string_list[0], string_list[-1]]

['python', 'awesome']

In [206]:
my_list.append(my_list[0])

In [207]:
my_list

[1, 2, 3, 4, 1]

In [208]:
my_list[1:]

[2, 3, 4, 1]

In [209]:
my_list = [1,2,3,4]

In [210]:
list2 = my_list[1:]
list2

[2, 3, 4]

In [211]:
list2.append(my_list[0])

In [212]:
list2

[2, 3, 4, 1]

In [213]:
my_list = [1,2,3,4]

In [214]:
my_list[1:].append(my_list[0])

In [215]:
my_list

[1, 2, 3, 4]

In [216]:
# Exercise 59
# Write a function definition named first_to_last that takes in sequence and returns the sequence with the first value moved to the end of the sequence.

def first_to_last(my_list):
    my_list.append(my_list[0])
    return my_list[1:]

In [217]:
first_to_last([1, 2, 3, 4])

[2, 3, 4, 1]

In [218]:
# Exercise 60
# Write a function definition named sum_all that takes in sequence of numbers and returns all the numbers added together.

def sum_all(num):
    total = 0
    for x in num:
        total += x
    return total

In [219]:
sum_all([1, 2, 3, 4])

10

In [220]:
sum_all([0, 2, -3, 4])

3

In [221]:
# Exercise 61
# Write a function definition named mean that takes in sequence of numbers and returns the average value

def mean(num):
    total = 0
    for x in num:
        total += x
    return total/len(num)

In [222]:
mean([1, 2, 3, 4])

2.5

In [223]:
mean([1, 5, 6])

4.0

In [224]:
# Exercise 62
# Write a function definition named median that takes in sequence of numbers and returns the average value

def median(num):
    num.sort()
    median = len(num) // 2
    return (num[median] + num[~median]) / 2

In [225]:
median([1, 2, 5, 6])

3.5

In [226]:
# Exercise 63
# Write a function definition named mode that takes in sequence of numbers and returns the most commonly occuring value

def mode(num):
    max_count = (0, 0)
    for x in num:
        occurs = num.count(x)
        if occurs > max_count[0]:
            max_count = (occurs, x)
    return max_count[1]

In [227]:
mode([1, 2, 2, 3, 4])

2

In [228]:
mode([2, 2, 3, 3, 3])

3

In [229]:
# Exercise 64
# Write a function definition named product_of_all that takes in sequence of numbers and returns the product of multiplying all the numbers together

def product_of_all(num):
    total = 1
    for x in num:
        total *= x
    return total

In [230]:
product_of_all([1, 2, 3])

6

In [231]:
# Exercise 65
# Write a function definition named get_highest_number that takes in sequence of numbers and returns the largest number.

def get_highest_number(numbers):
    return max(numbers)

In [232]:
get_highest_number([-5, -3, 1])

1

In [233]:
# Exercise 66
# Write a function definition named get_smallest_number that takes in sequence of numbers and returns the smallest number.

def get_smallest_number(numbers):
    return min(numbers)

In [234]:
get_smallest_number([-4, -3, 1])

-4

In [235]:
# Exercise 67
# Write a function definition named only_odd_numbers that takes in sequence of numbers and returns the odd numbers in a list.

def only_odd_numbers(seq):
    return[num for num in seq if num % 2 != 0]

In [236]:
only_odd_numbers([-4, -3, 1])

[-3, 1]

In [237]:
# Exercise 68
# Write a function definition named only_even_numbers that takes in sequence of numbers and returns the even numbers in a list.

def only_even_numbers(seq):
    return[num for num in seq if num % 2 == 0]

In [238]:
only_even_numbers([-4, -3, 1])

[-4]

In [239]:
# Exercise 69
# Write a function definition named only_positive_numbers that takes in sequence of numbers and returns the positive numbers in a list.

def only_positive_numbers(seq):
    return[num for num in seq if num > 0]

In [240]:
only_positive_numbers([-4, -3, 1])

[1]

In [241]:
# Exercise 70
# Write a function definition named only_negative_numbers that takes in sequence of numbers and returns the negative numbers in a list.

def only_negative_numbers(seq):
    return[num for num in seq if num < 0]

In [242]:
only_negative_numbers([-4, -3, 1])

[-4, -3]

In [243]:
only_negative_numbers([0, 1, 2, 3])

[]

In [244]:
# Exercise 71
# Write a function definition named has_evens that takes in sequence of numbers and returns True if there are any even numbers in the sequence

def has_evens(seq):
    return any((num % 2 == 0) for num in seq)

In [245]:
has_evens([2, 5, 6])

True

In [246]:
has_evens([-1, -5, 0])

True

In [247]:
has_evens([-1, 5, 33])

False

In [248]:
# Exercise 72
# Write a function definition named count_evens that takes in sequence of numbers and returns the number of even numbers

def count_evens(seq):
    return len([num for num in seq if num % 2 == 0])

In [249]:
count_evens([2, 5, 6])

2

In [250]:
# Exercise 73
# Write a function definition named has_odds that takes in sequence of numbers and returns True if there are any odd numbers in the sequence

def has_odds(seq):
    return any((num % 2 == 1) for num in seq)

In [251]:
has_odds([2, 4, 6])

False

In [252]:
# Exercise 74
# Write a function definition named count_odds that takes in sequence of numbers and returns True if there are any odd numbers in the sequence

def count_odds(seq):
    return len([num for num in seq if num % 2 == 1])

In [253]:
count_odds([2, 5, 6])

1

In [254]:
# Exercise 75
# Write a function definition named count_negatives that takes in sequence of numbers and returns a count of the number of negative numbers

def count_negatives(seq):
    return len([num for num in seq if num < 0])

In [255]:
count_negatives([1, -2, 3])

1

In [256]:
# Exercise 76
# Write a function definition named count_positives that takes in sequence of numbers and returns a count of the number of positive numbers

def count_positives(seq):
    return len([num for num in seq if num > 0])

In [257]:
count_positives([-2, -1, -5])

0

In [258]:
# Exercise 77
# Write a function definition named only_positive_evens that takes in sequence of numbers and returns a list containing all the positive evens from the sequence

def only_positive_evens(seq):
    return list([num for num in seq if (num > 0 and num % 2 == 0)])

In [259]:
only_positive_evens([2, -5, -6])

[2]

In [260]:
only_positive_evens([3, 3, 4, 6])

[4, 6]

In [261]:
# Exercise 78
# Write a function definition named only_positive_odds that takes in sequence of numbers and returns a list containing all the positive odd numbers from the sequence

def only_positive_odds(seq):
    return list([num for num in seq if (num > 0 and num % 2 == 1)])

In [262]:
only_positive_odds([1, -2, 3])

[1, 3]

In [263]:
# Exercise 79
# Write a function definition named only_negative_evens that takes in sequence of numbers and returns a list containing all the negative even numbers from the sequence

def only_negative_evens(seq):
    return list([num for num in seq if (num < 0 and num % 2 == 0)])

In [264]:
only_negative_evens([-2, 3, 4, -1, -4])

[-2, -4]

In [265]:
# Exercise 80
# Write a function definition named only_negative_odds that takes in sequence of numbers and returns a list containing all the negative odd numbers from the sequence

def only_negative_odds(seq):
    return list([num for num in seq if (num < 0 and num % 2 == 1)])

In [266]:
only_negative_odds([2, -3, 4, -1, -4])

[-3, -1]

In [267]:
# Exercise 81
# Write a function definition named shortest_string that takes in a list of strings and returns the shortest string in the list.

def shortest_string(seq):
    return min(seq, key = len)

In [268]:
shortest_string(["mary", "had", "a", "little", "lamb"])

'a'

In [269]:
# Exercise 82
# Write a function definition named longest_string that takes in sequence of strings and returns the longest string in the list.

def longest_string(seq):
    return max(seq, key = len)

In [270]:
longest_string(["kiwi", "mango", "strawberry"])

'strawberry'

In [271]:
longest_string(["kiwi", "pear", "one"])

'kiwi'

In [272]:
# Exercise 83
# Write a function definition named get_unique_values that takes in a list and returns a set with only the unique values from that list.

def get_unique_values(word_list):
    return (set(word_list))

In [273]:
get_unique_values(["b", "a", "n", "a", "n", "a", "s"])

{'a', 'b', 'n', 's'}

In [274]:
# Exercise 84
# Write a function definition named get_unique_values_from_two_lists that takes two lists and returns a single set with only the unique values

def get_unique_values_from_two_lists(list1, list2):
    return (set().union(list1, list2))

In [275]:
get_unique_values_from_two_lists([5, 1, 2, 3], [3, 4, 5, 5])

{1, 2, 3, 4, 5}

In [276]:
# Exercise 85
# Write a function definition named get_values_in_common that takes two lists and returns a single set with the values that each list has in common

def get_values_in_common(list1, list2):
    return (set(list1).intersection(list2))

In [277]:
get_values_in_common([1, 2], [2, 2, 3])

{2}

In [278]:
get_values_in_common(["tomato", "mango", "kiwi"], ["eggplant", "tomato", "broccoli"])

{'tomato'}

In [279]:
list1 = [5, 1, 2, 3] 
list2 = [3, 4, 5, 5]

(set(list1).difference(list2))

{1, 2}

In [280]:
# Exercise 86
# Write a function definition named get_values_not_in_common that takes two lists and returns a single set with the values that each list does not have in common

def get_values_not_in_common(list1, list2):
    return (set(list1).symmetric_difference(list2))

In [281]:
get_values_not_in_common([5, 1, 2, 3], [3, 4, 5, 5])

{1, 2, 4}

In [282]:
a = {5, 1, 2, 3}
b = {3, 4, 5, 5}

set(a ^ b) # apparently, the ^ operator only works with SETS

{1, 2, 4}

In [283]:
# Run this cell in order to have these two dictionary variables defined.
tukey_paper = {
    "title": "The Future of Data Analysis",
    "author": "John W. Tukey",
    "link": "https://projecteuclid.org/euclid.aoms/1177704711",
    "year_published": 1962
}

thomas_paper = {
    "title": "A mathematical model of glutathione metabolism",
    "author": "Rachel Thomas",
    "link": "https://www.ncbi.nlm.nih.gov/pubmed/18442411",
    "year_published": 2008
}

In [284]:
# Exercise 87
# Write a function named get_paper_title that takes in a dictionary and returns the title property

def get_paper_title(dict):
    return dict["title"]

In [285]:
get_paper_title(tukey_paper)

'The Future of Data Analysis'

In [286]:
# Exercise 88
# Write a function named get_year_published that takes in a dictionary and returns the value behind the "year_published" key.

def get_year_published(dict):
    return dict["year_published"]

In [287]:
get_year_published(thomas_paper)

2008

In [288]:
# Run this code to create data for the next two questions
book = {
    "title": "Genetic Algorithms and Machine Learning for Programmers",
    "price": 36.99,
    "author": "Frances Buontempo"
}

In [289]:
# Exercise 89
# Write a function named get_price that takes in a dictionary and returns the price

def get_price(dict):
    return dict["price"]

In [290]:
get_price(book)

36.99

In [291]:
# Exercise 90
# Write a function named get_book_author that takes in a dictionary (the above declared book variable) and returns the author's name

def get_book_author(dict):
    return dict["author"]

In [292]:
get_book_author(book)

'Frances Buontempo'

In [324]:
# Run this cell in order to have some setup data for the next exercises
books = [
    {
        "title": "Genetic Algorithms and Machine Learning for Programmers",
        "price": 36.99,
        "author": "Frances Buontempo"
    },
    {
        "title": "The Visual Display of Quantitative Information",
        "price": 38.00,
        "author": "Edward Tufte"
    },
    {
        "title": "Practical Object-Oriented Design",
        "author": "Sandi Metz",
        "price": 30.47
    },
    {
        "title": "Weapons of Math Destruction",
        "author": "Cathy O'Neil",
        "price": 17.44
    }
]

In [294]:
# Exercise 91
# Write a function named get_number_of_books that takes in a list of objects and returns the number of dictionaries in that list.

def get_number_of_books(dict):
    return len(dict)

In [295]:
get_number_of_books(books)

4

In [296]:
total = 0
for book in books:
    total += book['price']
    
total

122.9

In [297]:
# Exercise 92
# Write a function named total_of_book_prices that takes in a list of dictionaries and returns the sum total of all the book prices added together

def total_of_book_prices(dict):
    sum = 0
    for book in dict: 
        sum += book["price"]   
    return sum

In [298]:
total_of_book_prices(books)

122.9

In [299]:
# Exercise 93
# Write a function named get_average_book_price that takes in a list of dictionaries and returns the average book price.

def get_average_book_price(dict):
    sum = 0
    for book in dict: 
        sum += book["price"]   
    return sum/len(dict)

In [300]:
get_average_book_price(books)

30.725

In [318]:
price_list = []

for book in books:
    price_list.append(book["price"])
    max_price = max(price_list)
print(max_price)

38.0

In [321]:
for book in books:
    if book["price"] == max_price:
        print(book)

{'title': 'The Visual Display of Quantitative Information', 'price': 38.0, 'author': 'Edward Tufte'}

In [330]:
# Exercise 94
# Write a function called highest_price_book that takes in the above defined list of dictionaries "books" and returns the dictionary containing the title, price, and author of the book with the highest priced book.
# Hint: Much like sometimes start functions with a variable set to zero, you may want to create a dictionary with the price set to zero to compare to each dictionary's price in the list

def highest_price_book(dict):
    price_list = []

    for book in dict:
        price_list.append(book["price"])
        max_price = max(price_list)
    for book in books:
        if book["price"] == max_price:
            return book

In [331]:
highest_price_book(books)

{'title': 'The Visual Display of Quantitative Information',
 'price': 38.0,
 'author': 'Edward Tufte'}

In [332]:
price_list = []

for book in books:
    price_list.append(book["price"])
    min_price = min(price_list)
print(min_price)

17.44

In [333]:
for book in books:
    if book["price"] == min_price:
        print(book)

{'title': 'Weapons of Math Destruction', 'author': "Cathy O'Neil", 'price': 17.44}

In [339]:
# Exercise 95
# Write a function called lowest_priced_book that takes in the above defined list of dictionaries "books" and returns the dictionary containing the title, price, and author of the book with the lowest priced book.
# Hint: Much like sometimes start functions with a variable set to zero or float('inf'), you may want to create a dictionary with the price set to float('inf') to compare to each dictionary in the list

def lowest_priced_book(dict):
    price_list = []

    for book in dict:
        price_list.append(book["price"])
        min_price = min(price_list)
    for book in books:
        if book["price"] == min_price:
            return book

In [340]:
lowest_priced_book(books)

{'title': 'Weapons of Math Destruction',
 'author': "Cathy O'Neil",
 'price': 17.44}