### warmups

In [1]:
print("Good afternoon, ya'll!")

Good afternoon, ya'll!

In [2]:
2 + 2

4

In [3]:
today = "Today is a great day to learn"
print(today)

Today is a great day to learn

In [4]:
print("Use the print command")
print("To print")
print("Prints each and every line")

Use the print command
To print
Prints each and every line

In [5]:
"Notebook cells automatically print the last line of code"

'Notebook cells automatically print the last line of code'

In [6]:
5

5

In [7]:
5 * 2

10

In [8]:
"Multiple lines"
"Do not print automatically"
"Only the last line"

'Only the last line'

In [9]:
"I'm writing Python with ya'll right now"

"I'm writing Python with ya'll right now"

In [11]:
print("That means")
print("The print command is important")
print("When we want to print each line")

That means
The print command is important
When we want to print each line

In [12]:
# Exercise: Print your name in this cell. 
# Be sure to use quotation marks around the letters.

"Steve"

'Steve'

In [13]:
# Exercise: Print your favorite number in this cell

23

23

In [14]:
# Exercise: Print the number 7 in this cell

7

7

In [15]:
# Exercise: Print out 3 + 4 in this cell
# Make Python do the math rather than adding 3 + 4 in your head

3 + 4

7

In [16]:
# Exercise: Print out 3 * 5 in this cell, * means multiply

3 * 5

15

In [ ]:
# Let's get to work

# 101 Python exercises

In [17]:
# Exercise 1
# On the line below, create a variable named on_mars_right_now and assign it the boolean value of False

on_mars_right_now = False

In [18]:
# Exercise 2
# Create a variable named fruits and assign it a list of fruits containing the following fruit names as strings: 
# mango, banana, guava, kiwi, and strawberry.

fruits = ["mango", "banana", "guava", "kiwi", "strawberry"]

In [21]:
fruits

['mango', 'banana', 'guava', 'kiwi', 'strawberry']

In [19]:
# Exercise 3
# Create a variable named vegetables and assign it a list of fruits containing the following vegetable names as strings: 
# eggplant, broccoli, carrot, cauliflower, and zucchini

vegetables = ["eggplant", "broccoli", "carrot", "cauliflower", "zucchini"]

In [22]:
vegetables

['eggplant', 'broccoli', 'carrot', 'cauliflower', 'zucchini']

In [20]:
# Exercise 4
# Create a variable named numbers and assign it a list of numbers, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
# Exercise 5
# Given the following assigment of the list of fruits, add "tomato" to the end of the list. 
fruits = ["mango", "banana", "guava", "kiwi", "strawberry"]

fruits.append("tomato")

In [25]:
fruits

['mango', 'banana', 'guava', 'kiwi', 'strawberry', 'tomato']

In [26]:
# Exercise 6
# Given the following assignment of the vegetables list, add "tomato" to the end of the list.
vegetables = ["eggplant", "broccoli", "carrot", "cauliflower", "zucchini"]

vegetables.append("tomato")

In [27]:
vegetables

['eggplant', 'broccoli', 'carrot', 'cauliflower', 'zucchini', 'tomato']

In [28]:
# Exercise 7
# Given the list of numbers defined below, reverse the list of numbers that you created above. 
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

numbers.reverse()
numbers

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [29]:
# Exercise 8
# Sort the vegetables in alphabetical order

vegetables.sort()
vegetables

['broccoli', 'carrot', 'cauliflower', 'eggplant', 'tomato', 'zucchini']

In [33]:
# Exercise 9
# Write the code necessary to sort the fruits in reverse alphabetical order

fruits.sort(reverse = True)
fruits

['tomato', 'strawberry', 'mango', 'kiwi', 'guava', 'banana']

In [34]:
# Exercise 10
# Write the code necessary to produce a single list that holds all fruits then all vegetables in the order as they were sorted above.

fruits_and_veggies = fruits + vegetables
fruits_and_veggies

['tomato',
 'strawberry',
 'mango',
 'kiwi',
 'guava',
 'banana',
 'broccoli',
 'carrot',
 'cauliflower',
 'eggplant',
 'tomato',
 'zucchini']

In [35]:
# Exercise 11
# Write a function definition for a function named add_one that takes in a number and returns that number plus one.

def add_one(number):
    return number + 1

In [36]:
add_one(22)

23

In [37]:
# Exercise 12
# Write a function definition named is_positive that takes in a number and returns True or False if that number is positive.

def is_positive(number):
    return number > 0

In [39]:
is_positive(-23)

False

In [40]:
is_positive(23)

True

In [38]:
# Exercise 13
# Write a function definition named is_negative that takes in a number and returns True or False if that number is negative.

def is_negative(number):
    return number < 0

In [41]:
is_negative(-45)

True

In [42]:
# Exercise 14
# Write a function definition named is_odd that takes in a number and returns True or False if that number is odd.

def is_odd(number):
    return number % 2 == 1

In [43]:
is_odd(222)

False

In [44]:
is_odd(3443)

True

In [45]:
# Exercise 15
# Write a function definition named is_even that takes in a number and returns True or False if that number is even.

def is_even(number):
    return number % 2 == 0

In [46]:
is_even(23)

False

In [47]:
is_even(-444)

True

In [48]:
# Exercise 16
# Write a function definition named identity that takes in any argument and returns that argument's value. Don't overthink this one!

def identity(arg):
    return arg

In [49]:
identity(fruits)

['tomato', 'strawberry', 'mango', 'kiwi', 'guava', 'banana']

In [50]:
# Exercise 17
# Write a function definition named is_positive_odd that takes in a number and returns True or False if the value is both greater than zero and odd

def is_positive_odd(number):
    return number > 0 and number % 2 == 1

In [51]:
is_positive_odd(-23)

False

In [52]:
is_positive_odd(1002)

False

In [53]:
is_positive_odd(1003)

True

In [54]:
# Exercise 18
# Write a function definition named is_positive_even that takes in a number and returns True or False if the value is both greater than zero and even

def is_positive_even(number):
    return number > 0 and number % 2 == 0

In [55]:
is_positive_even(-2)

False

In [56]:
is_positive_even(44)

True

In [57]:
# Exercise 19
# Write a function definition named is_negative_odd that takes in a number and returns True or False if the value is both less than zero and odd.

def is_negative_odd(number):
    return number < 0 and number % 2 == 1

In [58]:
is_negative_odd(0)

False

In [59]:
is_negative_odd(333)

False

In [60]:
is_negative_odd(-333)

True

In [61]:
# Exercise 20
# Write a function definition named is_negative_even that takes in a number and returns True or False if the value is both less than zero and even.

def is_negative_even(number):
    return number < 0 and number % 2 == 0

In [62]:
is_negative_even(24)

False

In [63]:
is_negative_even(-1004)

True

In [64]:
# Exercise 21
# Write a function definition named half that takes in a number and returns half the provided number.

def half(number):
    return number / 2

In [65]:
half(1002)

501.0

In [66]:
half(33)

16.5

In [67]:
# Exercise 22
# Write a function definition named double that takes in a number and returns double the provided number.
 
def double(number):
    return number * 2

In [68]:
double(-12)

-24

In [69]:
double(10)

20

In [70]:
# Exercise 23
# Write a function definition named triple that takes in a number and returns triple the provided number.

def triple(number):
    return number * 3

In [71]:
triple(3)

9

In [72]:
triple(0)

0

In [73]:
# Exercise 24
# Write a function definition named reverse_sign that takes in a number and returns the provided number but with the sign reversed.

def reverse_sign(number):
    return number * -1

In [74]:
reverse_sign(-12)

12

In [75]:
reverse_sign(43)

-43

In [78]:
# Exercise 25
# Write a function definition named absolute_value that takes in a number and returns the absolute value of the provided number

def absolute_value(number):
    return abs(number)

In [79]:
absolute_value(-234)

234

In [80]:
# Exercise 26
# Write a function definition named is_multiple_of_three that takes in a number and returns True or False if the number is evenly divisible by 3.

def is_multiple_of_three(number):
    return number % 3 == 0

In [81]:
is_multiple_of_three(9)

True

In [82]:
is_multiple_of_three(23)

False

In [83]:
# Exercise 27
# Write a function definition named is_multiple_of_five that takes in a number and returns True or False if the number is evenly divisible by 5.

def is_multiple_of_five(number):
    return number % 5 == 0

In [84]:
is_multiple_of_five(15)

True

In [85]:
is_multiple_of_five(9)

False

In [86]:
# Exercise 28
# Write a function definition named is_multiple_of_both_three_and_five that takes in a number and returns True or False if the number is evenly divisible by both 3 and 5.

def is_multiple_of_both_three_and_five(number):
    return number % 3 == 0 and number % 5 == 0

In [87]:
is_multiple_of_both_three_and_five(9)

False

In [88]:
is_multiple_of_both_three_and_five(30)

True

In [89]:
# Exercise 29
# Write a function definition named square that takes in a number and returns the number times itself.

def square(number):
    return number ** 2

In [90]:
square(4)

16

In [91]:
square(453)

205209

In [92]:
square(0)

0

In [93]:
# Exercise 30
# Write a function definition named add that takes in two numbers and returns the sum.

def add(num1, num2):
    return num1 + num2

In [94]:
add(3, 2)

5

In [95]:
add(10, -2)

8

In [96]:
# Exercise 31
# Write a function definition named cube that takes in a number and returns the number times itself, times itself.

def cube(number):
    return number ** 3

In [97]:
cube(4)

64

In [98]:
cube(-2)

-8

In [99]:
# Exercise 32
# Write a function definition named square_root that takes in a number and returns the square root of the provided number

import math

def square_root(number):
    return math.sqrt(number)

In [100]:
square_root(81)

9.0

In [101]:
square_root(9)

3.0

In [102]:
# Exercise 33
# Write a function definition named subtract that takes in two numbers and returns the first minus the second argument.

def subtract(num1, num2):
    return num1 - num2

In [103]:
subtract(27, 4)

23

In [104]:
subtract(27, -3)

30

In [105]:
# Exercise 34
# Write a function definition named multiply that takes in two numbers and returns the first times the second argument.

def multiply(num1, num2):
    return num1 * num2

In [106]:
multiply(2, 20)

40

In [107]:
multiply(1123, 0)

0

In [108]:
# Exercise 35
# Write a function definition named divide that takes in two numbers and returns the first argument divided by the second argument.

def divide(num1, num2):
    return num1 / num2

In [109]:
divide(45, 5)

9.0

In [110]:
divide(5, 2)

2.5

In [111]:
# Exercise 36
# Write a function definition named quotient that takes in two numbers and returns only the quotient from dividing the first argument by the second argument.

def quotient(num1, num2):
    return num1 // num2

In [112]:
quotient(5, 2)

2

In [113]:
quotient(10, 3)

3

In [114]:
# Exercise 37
# Write a function definition named remainder that takes in two numbers and returns the remainder of first argument divided by the second argument.

def remainder(num1, num2):
    return num1 % num2

In [115]:
remainder(7, 5)

2

In [116]:
remainder(3, 1)

0

In [117]:
# Exercise 38
# Write a function definition named sum_of_squares that takes in two numbers, squares each number, then returns the sum of both squares.

def sum_of_squares(num1, num2):
    return (num1 ** 2) + (num2 ** 2)

In [118]:
sum_of_squares(5, 2)

29

In [119]:
sum_of_squares(-8, 2)

68

In [120]:
# Exercise 39
# Write a function definition named times_two_plus_three that takes in a number, multiplies it by two, adds 3 and returns the result.

def times_two_plus_three(number):
    return (number * 2) + 3

In [121]:
times_two_plus_three(5)

13

In [122]:
times_two_plus_three(20)

43

In [123]:
# Exercise 40
# Write a function definition named area_of_rectangle that takes in two numbers and returns the product.

def area_of_rectangle(num1, num2):
    return num1 * num2

In [124]:
area_of_rectangle(5.3, 10.3)

54.59

In [125]:
import math
# Exercise 41
# Write a function definition named area_of_circle that takes in a number representing a circle's radius and returns the area of the circl

def area_of_circle(number):
    return math.pi * (number ** 2)

In [126]:
area_of_circle(3)

28.274333882308138

In [127]:
area_of_circle(7)

153.93804002589985

In [128]:
import math
# Exercise 42
# Write a function definition named circumference that takes in a number representing a circle's radius and returns the circumference.

def circumference(number):
    return math.pi * (number * 2)

In [129]:
circumference(7)

43.982297150257104

In [130]:
# Exercise 43
# Write a function definition named is_vowel that takes in value and returns True if the value is a, e, i, o, u in upper or lower case.

def is_vowel(char):
    return char.lower() in 'aeiou'

In [131]:
is_vowel("Q")

False

In [132]:
is_vowel("banana")

False

In [133]:
is_vowel("O")

True

In [150]:
# Exercise 44
# Write a function definition named has_vowels that takes in value and returns True if the string contains any vowels.

def has_vowels(string):
    return any(vowel in string.lower() for vowel in "aeiou")

In [151]:
has_vowels("unbuntu")

True

In [153]:
has_vowels("TRQ")

False

In [157]:
# Count the elements in a string using a list comprehension.

len([letter for letter in 'banana'])

6

In [155]:
# Loop and conditional to print the elements in a string if they are also in another string.

string = 'ubuntu'

for letter in string:
    if letter in 'aeiou':
        print(letter)

u
u
u

In [158]:
# Count the elements in a string if they are in another string using a list comprehension.

string = 'ubuntu'
vowels = 'aeiou'

#    what you want,    outer loop,      inner loop/conditional
len([letter for letter in string.lower() if letter in vowels])

3

In [143]:
# Exercise 45
# Write a function definition named count_vowels that takes in value and returns the count of the nubmer of vowels in a sequence.

def count_vowels(str):
    count = 0
    vowel = "aeiou"
    for let in str.lower():
        if let in vowel:
            count += 1
    return count

In [145]:
count_vowels("mango")

2

In [146]:
count_vowels("Trws")

0

In [170]:
## Remove vowels from a string using a list comp and .join() method

string = 'ubuntu'
vowels = 'aeiou'

"".join([letter for letter in string.lower() if letter not in vowels])

'bnt'

In [171]:
# Remove vowels using regular expressions or Regex

import re

re.sub("a|e|i|o|u", "", string)

'bnt'

In [1]:
# Exercise 46
# Write a function definition named remove_vowels that takes in string and returns the string without any vowels

def remove_vowels(string):
    vowels = 'aeiouAEIOU'
    return "".join([letter for letter in string if letter not in vowels])

In [2]:
remove_vowels("mango")

'mng'

In [3]:
remove_vowels("QrTuuov")

'QrTv'

In [12]:
# Exercise 47
# Write a function definition named starts_with_vowel that takes in string and True if the string starts with a vowel

def starts_with_vowel(string):
    vowels = 'aeiouAEIOU'
    return string[0] in vowels

In [13]:
starts_with_vowel('ubuntu')

True

In [14]:
starts_with_vowel('banana')

False

In [9]:
# Exercise 48
# Write a function definition named ends_with_vowel that takes in string and True if the string ends with a vowel

def ends_with_vowel(string):
    vowels = 'aeiouAEIOU'
    return string[-1] in vowels

In [10]:
ends_with_vowel("mango")

True

In [11]:
ends_with_vowel("trail")

False

In [ ]:
# Exercise 49
# Write a function definition named starts_and_ends_with_vowel that takes in string and returns True if the string starts and ends with a vowel

def starts_and_ends_with_vowel(string):
    vowels = "aeiouAEIOU"
    return string[0] in vowels and string[-1] in vowels